.searchbarbox{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:20px;
    margin-top: 30px;

}
.searchbarbox>p{
    font-weight: 500;
    font-size: 18px;
}

.inputbox{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.searchinputicon{
    position: relative;
    width: 100%;
    margin: 10px 0px;

    
}
.searchinputicon>ion-icon{
    position: absolute;
    top: 8px;;
    left:10px;
    font-size: 25px;
}
.searchinputicon>input{
    
    padding:10px 10px 10px 40px;
    background-color: rgba(213, 206, 206, 0.37);
    width:98%;
    border-radius: 10px;
    outline: none;
}
.searchbtn{
    background-color:#e78900 ;
    padding:10px 20px;
    color: white;
    border-radius: 10px;
}
.popularsearches{
    color:#757575;
    font-weight: 500;
}
.specialitems{
    color:#e78900;
    display: flex;
    align-items: center;
    margin-top: 5px;

}
.specialitems>p{
    margin: 0px 10px;
    cursor: pointer;
}
.specialitems>p:first-child{
    margin-left: 0px;
}

.rightheroarea{
    background-image: url("../../img/Biryani.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:900px;
    width:50%;
    
}
.heroarea{
    display: flex;
    justify-content: space-between;

}