.contactpage{
    max-width: 80%;
    width:100%;
    margin:200px auto 50px auto;
    display: flex;
    justify-content: space-between;
}
.leftcontact{
    width:50%;

}
.rightcontact{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.rightcontact>input,.rightcontact>textarea ,.rightcontact>button{
    width: 100%;
    padding: 15px;
    margin:10px 0px;
    border-radius: 5px;
    resize: none;
}

.email,.instagram{
    display: flex;
    align-items: center;

}
.leftcontact>p{
    font-size: 15px;
}
.leftcontact>h1{
    font-size: 32px;
    font-weight: 600;
}
.socialmedia{
    margin-top: 15px;

}
.email>ion-icon,.instagram>ion-icon{
    font-size: 20px;
    margin-right: 10px;
}
.email{
    margin-bottom: 10px;
}
.rightcontact>input,.rightcontact>textarea{
    border: 2px solid  #e78900;
    font-size: 17px;
    font-family: 'poppins' !important;
    outline: none;
}
.rightcontact>button{
    background-color: #e78900;
    color: white;
    font-weight: 500;
    font-family: poppins !important;

}
